@import 'variables';
@import 'tile';
@import 'field';
@import 'player';

main {
  margin: $board-margin;
  width: $board-wrapper-size;
  height: $board-wrapper-size;
}

.board {
  display: flex;
  width: $board-size;
  height: $board-size;
  flex-wrap: wrap;

  * {
    user-select: none;
  }
}
